# cuda-python # For SDXL
onnxruntime-gpu # For RetinaNet
polygraphy

# For diffusers
diffusers
invisible_watermark
transformers
accelerate
safetensors

-r opt/TensorRT-LLM/examples/gptj/requirements.txt
# -r opt/TensorRT/demo/Diffusion/requirements.txt
# -r opt/training/single_stage_detector/requirements.txt
